@import "hero";

.banner {
  height: 400px;
  overflow: hidden;
  .wrap {
    height: 100%;
  }

  h2 {
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
  }

  .rellax-img {
    height: 102%;
    top: -35px;
  }
}
