$header-bg: $pink;
$navlink-col: $purple;
.site-header {
  text-transform: lowercase;
  letter-spacing: 1px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  .flex {
    align-items: center;
    justify-content: space-between;
  }
  background-color: $header-bg;
}

.main-navigation {
  ul {
    @extend .row-l;
  }
}
@media screen and (min-width: $bp-l) {
  .main-navigation {
    height: 100%;
    align-items: center;
    ul {
      align-items: center;
      height: 100%;
    }
  }

  .menu-item,
  .page_item {
    color: $navlink-col;
    margin-left: 3vw;
    font-size: $p-large;
    &:hover {
      color: $hotpink;
      transition: 0.2s;
      a {
        text-decoration: none;
      }
    }
  }
  .current_page_item {
    color: $hotpink;
    pointer-events: none;
  }
}
