.block-circles {
  position: relative;
  height: 425px;
  max-width: 550px;

  .circle {
    overflow: hidden;
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 100%;
  }
  .circle-1 {
    z-index: 2;
    top: 0;
    right: 0;
    border: 5px solid $purple;
  }

  .circle-2 {
    z-index: 1;
    bottom: 0;
    left: 0;
    border: 5px solid $purple;
  }
}

@media screen and (min-width: $bp-l) {
  .page-home {
    .block-circles {
      margin-left: 4rem;
    }
  }
}
@media screen and (max-width: $bp-l) {
  .page-home {
    .block-circles {
      margin-left: unset;
      margin: auto;
      width: 350px;
      height: 350px;
      margin-top: 4rem;
      .circle {
        width: 225px;
        height: 225px;
      }
    }
  }
}
@media screen and (max-width: $bp-s) {
  .page-home {
    .block-circles {
      margin-top: 8rem;
      width: 250px;
      height: 250px;
      .circle {
        width: 155px;
        height: 155px;
      }
    }
  }
}
