.block-circles {
  position: relative;
  height: 425px;
  max-width: 550px;

  .circle {
    overflow: hidden;

    width: 250px;
    height: 250px;
    position: absolute;
    border-radius: 100%;
    img {
      // width: 120%;
      // height: 120px;
    }
  }
  .circle-1 {
    z-index: 2;
    top: 0;
    right: 0;
    border: 5px solid $purple;
  }

  .circle-2 {
    z-index: 1;
    bottom: 0;
    left: 0;
    border: 5px solid $purple;
  }
}

@media screen and (min-width: $bp-m) {
  .page-home {
    .block-circles {
      margin-left: 4rem;
    }
  }
}
@media screen and (max-width: $bp-m) {
  .page-home {
    .block-circles {
      margin-left: unset;

      width: 350px;
      height: 350px;
      margin: 4rem auto;
      .circle {
        width: 225px;
        height: 225px;
      }
    }
  }
}
@media screen and (max-width: $bp-s) {
  .page-home {
    .block-circles {
      width: 250px;
      height: 250px;
      .circle {
        width: 175px;
        height: 175px;
      }
    }
  }
}
