.gallery {
  height: 500px;
  position: relative;
  background-color: $pink;
}

.swiper-container {
  width: 100%;
  height: 500px;
  img {
    height: 100%;
    object-fit: scale-down;
  }

  .hover-card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: $pink;
    background-color: transparent;
    transition: 0.3s;
    p {
      margin: 0;
    }
  }
  &:hover {
    .hover-card {
      transition: 0.3s;
      background-color: #acacac77;
    }
  }
}

.gallery-thumbs {
  .swiper-slide {
    opacity: 0.6;
    max-height: 6rem;
    img {
      height: 100%;
    }
  }
  .swiper-slide-thumb-active {
    opacity: 1;
  }
}

.side-column {
  height: 500px;
}

.swiper-button-next,
.swiper-button-prev {
  color: $purple !important;
}
