a.link,
.link {
  color: $blue;
  text-decoration: underline;
}

.link--order {
  margin-left: 1rem;
  i {
    margin-left: 12px;
  }
  a:hover {
    text-decoration: none;
    color: $purple-light;
    i {
      transition: 0.3s;
      transform: translateX(5px);
    }
  }
}
