$form-b-radius: 5px;
.wpcf7 {
  br {
    display: none;
  }
}

.form-row {
  margin-bottom: 1rem;
  label {
    padding-right: 10px;
    &:last-child {
      padding-right: 0;
    }
  }
}

.wpcf7-not-valid-tip {
  margin-top: 5px;
}

.contact-form {
  p {
    padding: 1rem 0 2rem 0;
  }
}
